<div class="sticky-top">
  <div class="container" style="color: white; height: 32px;">
    <div class="navbar-brand" style="color: slategrey">Categories</div>
    <ul class=" nav navbar-nav navbar-right">
      <li>
        <i
          class="fa fa-leaf btn vertical-margin"
          style="color: slategrey"
          ng-click="toggleFilter({filterType:'type', property:'Veg'})"
          uib-tooltip="Toggle Veg dishes"
          tooltip-placement="bottom"
        ></i>
      </li>

      <li>
        <i
          class="fa fa-inr btn vertical-margin"
          style="color: slategrey"
          uib-tooltip="Doesn't work"
          tooltip-placement="bottom"
          ng-click="sortItemsPriceAscending()"
        ></i>
      </li>

      <li>
        <i
          class="fa fa-filter btn vertical-margin"
          style="color: slategrey"
          ng-click="toggleFilterModalVisibility()"
        ></i>
        
        >
        <filters-modal
          show-filter-modal="showFilterModal"
          types="types"
          cuisines="cuisines"
          toggle-filter="toggleFilter({filterType: filterType, property: property})"
          toggle-filter-modal-visibility="toggleFilterModalVisibility()"
          is-filter-selected="isFilterSelected({filterType: filterType, property: property})"
        ></filters-modal>
      </li>
    </ul>
  </div>
</div>
