<div>
  <div
    class="card"
    style=" margin: 0px; padding: 0px; "
  >
    <div class="small-font vertical-margin">
      
      {{item.brand}}
    </div>
    <a href="#/items/{{item.id}}">
      <img
        src="{{item.images[1]}}"
        class="card-img-top"
        style="width: 100%; border-radius: 10px;"
        alt="{{item.name}}"
    /></a>
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>

      <div class="card-text" style="font-size: large">
        <div class="my-row spaced-content">
          <div>
            <div>
              <b>₹{{item.discountedPrice}}</b>
              <small
                ng-if="item.discountedPrice !== item.price"
                style="color: grey"
                ><s>₹{{item.price}}</s></small
              >
            </div>
            <div>
              <small ng-if="item.discountedPrice !== item.price"
                >{{getDiscountPercentage({price: item.price,discountedPrice:
                item.discountedPrice})}}% OFF</small
              ><small style="color: white">.</small>
            </div>
          </div>
          <div ng-if="getCartQuantity({itemId: item.id}) === 0">
            <a class="btn btn-primary" ng-click="addItemToCart({item: item})"
              >ADD</a
            >
          </div>
          <div ng-if="getCartQuantity({itemId: item.id}) !== 0">
            <a
              class="btn btn-primary horizontal-margin"
              ng-click="changeItemQuantityInCart({action: -1, itemId:item.id})"
              >-</a
            >
            {{getCartQuantity({itemId: item.id})}}
            <a
              class="btn btn-primary horizontal-margin"
              ng-click="changeItemQuantityInCart({action: 1, itemId:item.id})"
              >+</a
            >
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
