<div class="container">
  <div
  style="height: 120px;"></div>
  <div class="row" ng-if="item">
    <div class="col-md-6">
      <img src={{item.image}} width="100%" />
    </div>
    <div class="col-md-5">
      <div>{{item.name}}</div>
      <div class="small-font">
        <img src="images/{{item.type}}.png" style="height: 20px" />
        {{item.cuisine.name}}
      </div>
      <div>
        <s class="small-font horizontal-margin">₹{{item.price}}</s
        >₹{{item.discountedPrice}}
        <span
          class="badge rounded-pill text-bg-secondary horizontal-margin"
          >{{getDiscountPercentage(item.price, item.discountedPrice)}}%
          OFF</span
        >
      </div>
      <div class="vertical-margin">
        <div ng-class="{hidden: getCartQuantity(item.id) !== 0}">
          <a class="btn btn-primary" ng-click="addItemToCart(item)">ADD</a>

        </div>
        <div class="my-row" ng-class="{hidden: getCartQuantity(item.id) === 0}">
          <a class="btn btn-primary" ng-click="changeItemQuantityInCart(-1, item.id)">-</a>
           <div class="horizontal-margin">{{getCartQuantity(item.id)}}</div>
          <a class="btn btn-primary" ng-click="changeItemQuantityInCart(1, item.id)">+</a>
          
        </div>
      </div>
      <div class="vertical-margin">
        DETAILS ABOUT THIS MEAL
        <div class="small-font">
          {{item.itemDetails.description}}
        </div>
      </div>

      <div class="vertical-margin">
        INGREDIENTS
        <div class="small-font">
          {{item.itemDetails.ingredients}}
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!item">Loading</div>
</div>
